.background{
  background-image: none;
  size: 100%;
}

.centered{
  margin: auto;
  margin-top: 20%;
  width: 60%;
  position: relative;
  text-align: center;
}

.button{
  font-size: 2em;
  padding: 2em;
}
